<div class="container">
    <div class="row">
      <!-- Form -->
      <div class="col-md-4">
        <form>
          <div class="form-group">
            <label for="fullName">Name:</label>
            <input type="text" class="form-control" id="fullName" placeholder="Full Name" [(ngModel)]="newContact.name" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" placeholder="Write Your Email Here" [(ngModel)]="newContact.email" [ngModelOptions]="{standalone: true}">
          </div>
          <button type="submit" class="btn btn-primary mt-4" (click)="addContactDetails()">Submit</button>
        </form>
      </div>



      <!-- Data Display -->
      <div class="col-md-6">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of details">
              <td>{{ item.name }}</td>
              <td>{{ item.email }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  